.text-field {
  background-color: seashell;
  border-radius: 3px;
  width: 50px;
  font-size: 18px;
  padding: 0.5rem;
  color: #464646;
}

.button-form {
  display: flex;
  justify-content: center;
}

.button {
  font-size: 16px;
  color: white;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

.button:hover {
  opacity: 0.7;
  cursor: pointer;
}