.App {
  text-align: center;
}

.App-logo {
  height: 100%;
  pointer-events: none;
  text-align:center;
  position: absolute;
  line-height: 4em;
  width: 100%;
  font-size:2.5em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.item {
  position: relative;
  float: left;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time {
  font-size: calc(10px + 10vmin);
  margin: 10px auto
}

.App-link {
  color: #61dafb;
}

#outlined-size-small {
  background-color: seashell;
  border-radius: 3px;
  width: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
